
/* * { box-sizing: border-box; margin: 0; padding: 0; }
html, body, #root { height: 100%; } */
body {
  /* font-family: "Cinzel", serif; */
  /* background: linear-gradient(180deg,#0f172a,#020617); */
  /* color: #fff; */
}


